@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
/* importing antonio font from google fonts */

@import "tailwindcss";

/* importing tailwindcss */

@font-face {
    font-family: "ProximaNova, sans-serif";
    src: url("/fonts/ProximaNova-Regular.otf");
}

/* importing proxima nova font from local files */

@theme {
    --color-black: #222123;
    --color-main-bg: #232224;
    --color-white: #ffffff;
    --color-dark-brown: #523122;
    --color-mid-brown: #a26833;
    --color-light-brown: #e3a458;